* {
    box-sizing: inherit;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
    line-height: 2.4rem;    
    box-sizing: border-box;
}

:root {
    --red: rgb(244, 67, 54);
    --background: #f1f1f1;
    --text-color: #000000;
    --white: #fff;
}

body {
    background-color: var(--background);
}

.btn:hover {
    color: #fff!important;
    background-color: #616161!important;
}

.btn {
    cursor: pointer;
}

/* header  */

    /* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
}

.navbar__buttons {
    list-style: none;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    line-height: 2.7rem;
    display: flex;
}

.navbar__buttons-item--active {
    background-color: var(--red);
    padding: 8px 16px;
}

.navbar__buttons-item--active i {
    margin-right: 12px;
    font-size: 1.6rem;
}
.navbar__buttons-item--active a {
    color : var(--white);
}

.navbar__buttons-item {
    padding: 8px 16px;
}

.navbar__buttons-item-link {
    text-decoration: none;
    color: var(--text-color);

}

.navbar__buttons-item--active:hover,
.navbar__buttons-item:hover,
.navbar__book-btn:hover {
    background-color: #ccc;
}

.navbar__buttons-item--active:hover a {
    color: #000;
}

.navbar__book-btn {
    line-height: 2.7rem;
    padding: 8px 16px;
    background-color: rgb(241, 241, 241);
}

.navbar__book-btn-link {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--text-color);
}

    /* header content  */
.header-content {
    max-width: 1500px;
    margin: auto;
    position: relative;
}

.header-content img {
    max-width: 100%;
    min-width: 1000px;
}

.hotel-name {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    padding: 8px 16px;
}

.hotel-name__heading {
    background-color: var(--red);
    color : var(--white);
    font-size: 3rem;
    line-height: 45px;
    padding : 10px 16px;
}

.hotel-name__heading i {
    margin-right: 12px;
}

.hotel-name__inputs {
    background-color: var(--white);
    padding: 16px;
}

.row {
    display: flex;
    justify-content: space-between;
}
.input-wrap {
    flex: 1;
    margin-bottom: 16px;
    padding: 0 8px;
}

.label {
    font-size: 1.5rem;
}

.input {
    display: block;
    padding: 8px;
    width: 100%;
    font-size: 1.5rem;
    border : 1px solid #ccc;
    line-height: 2.4rem;
}

.hotel-name__inputs-button {
    color: #fff;
    background-color: #616161;
    font-size: 1.5rem;
    padding: 8px 16px;
    margin-left: 8px;
    border: none;
    line-height: 2.25rem;
}

.hotel-name__inputs-button:hover {
    color: #000!important;
    background-color: #ccc!important;
}
.hotel-name__inputs-button i {
    margin-right: 12px;
}
/* content  */
.content {
    max-width: 1532px;
}

.slogan {
    margin-top: 16px;
    padding: 0 16px;
}

.slogan__heading {
    margin: 10px 0;
    font-size: 2.4rem;
    font-weight: 400;
}

.slogan__content {
    margin: 15px 0;
    font-size: 1.5rem;
}

.inputs-row {
    display: flex;
    padding: 0 8px;
}
.inputs-row .input-wrap:nth-child(1),
.inputs-row .input-wrap:nth-child(2) {
    flex: 6;
}
.inputs-row .input-wrap:nth-child(3),
.inputs-row .input-wrap:nth-child(4) {
    flex: 4;
}
.search {
    padding: 0 8px;
    flex: 4;
}

.search__label {
    font-size: 1.5rem;
}

.search__btn {
    display: block;
    padding: 8px 16px;
    background-color: var(--text-color);
    color: var(--white);
    font-size: 1.5rem;
    line-height: 2.4rem;
    width: 100%;
}

    /* room option  */
.room-option {
    padding: 16px 8px;
    display: flex;
}

.option-item {
    flex: 1;
    padding: 0 8px;
    margin-bottom: 16px;
}

.option-item__img {
    width: 100%;
}

.option-item__content {
    padding: 0 16px;
}

.type-of-room {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin: 10px 0;
}

.price {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin: 10px 0;
    opacity: 0.7;
}

.type-of-bed {
    font-size: 1.5rem;
    margin: 15px 0;
}   

.area {
    font-size: 1.5rem;
    margin: 15px 0;
}

.option__icon {
    font-size: 1.8rem;
    margin: 18px 0;
}

.choose-btn {
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--text-color);
    width: 100%;
    border: none;
    padding: 8px 16px;
    margin-bottom: 16px;
}

    /* about  */
.about {
    padding: 0 8px;
    display: flex;
}

.about__paragraph {
    padding: 0 8px;
    flex: 1;
}

.about__paragraph-heading {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin: 10px 0;
}

.about__paragraph-content {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin: 10px 0;
}

.about__paragraph-pay {
    font-size: 1.5rem;
    margin: 15px 0;

}

.about__paragraph-pay i {
    font-size: 1.8rem;
}

.about__img {
    flex: 2;    
}

.about__img img {
    width: 100%;
}

    /* brief contact  */
.brief-contact {
    display: flex;
    margin: 32px 0;
    padding: 0 8px;
}

.brief-contact__item {
    flex: 1;
    padding: 0 8px;
    font-size: 1.8rem;
    text-align: center;
}

.brief-contact__item i {
    color: var(--red);
}

    /* warning  */
.warning {
    margin: 16px 0;
    padding: 32px 16px;
    border-left: solid 6px rgb(204, 204, 204);
    background-color: var(--red);
}

.warning__content {
    margin: 10px 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: var(--white);
}

.warning__content i {
    margin-right: 16px;
    padding: 8px 16px;
    background-color: #ff5722;
}

    /* places  */

.places__heading {
    padding: 0 16px;
}

.places__heading-header {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin: 10px 0;
}

.places__heading-content {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin: 10px 0;
}

.places img {
    width: 100%;
    vertical-align: middle;
}

.picture-name {
    position: absolute;
    padding: 8px 16px;
    left: 8px;
    bottom: 0;
    color: var(--white);
    font-size: 1.8rem;
}

.places__pictures {
    padding: 16px 8px;  
    display: flex;
}

.places__pictures-large {
    flex: 1;
    padding: 0 8px;
    margin-bottom: 16px;
    position: relative;

}

.places__pictures-small {
    flex: 1;
    position: relative;
    
}

.places__pictures-row {
    display: flex;
    padding: 0 8px;
    margin: 0 -16px;
}

.places__pictures-small-item {
    flex: 1;
    padding: 0 8px;
    margin-bottom: 16px;
    position: relative;
}

    /* subcribe */
.subcribe {
    margin: 32px 0;
    padding: 32px 16px;
    background-color: var(--text-color);
    opacity: 0.7;
}

.subcribe:hover {
    opacity: 1;
}

.subcribe__heading {
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.6rem;
    margin: 10px 0;
    color: var(--white);
}

.subcribe__content {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 15px 0;
    color: var(--white);

}

.subcribe__label {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white);
}

.subcribe__input {
    display: block;
    padding: 8px;
    width: 100%;
    font-size: 1.5rem;
    border : 1px solid #ccc;
    line-height: 2.4rem;
}

.subcribe__btn {
    color: #fff;
    background-color: #f44336;
    margin-top: 16px;
    padding: 8px 16px;
    font-size: 1.5rem;
    border: none;
    line-height: 2.25rem;
}

    /* contact */
.contact {
    padding: 0 16px;
}

.contact__heading {
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.6rem;
    margin: 10px 0;
}

.contact__content {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 15px 0;
}

.contact__info {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.contact__info i {
    width: 30px;
    color: var(--red);
}

.contact__input {
    display: block;
    padding: 16px 8px;
    margin: 15px 0;
    width: 100%;
    font-size: 1.5rem;
    border : 1px solid #ccc;
    line-height: 2.4rem;
}

.contact__btn {
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--text-color);
    border: none;
    padding: 12px 24px;
    margin: 15px 0;
}

/* footer */
.footer {
    background-color: var(--text-color);
    padding: 32px 0;
    margin-top: 16px;
}

.footer__heading {
    font-size: 1.8rem;
    margin: 10px 0;
    color: var(--white);
    text-align: center;
    line-height: 27px;
    font-weight: 400;
} 

.footer__icons {
    padding: 16px 0;
    font-size: 2.4rem;
    color: var(--white);
    text-align: center;
}

.footer__icons i:hover {
    opacity: 0.6;
    cursor: pointer;
}

.footer__origin,
.footer__origin a{
    text-align: center;
    color: var(--white);
    font-size: 1.5rem;
}
